trigger:
- main

pool:
  name: 'self-hosted'

steps:
- script: |
    set -e
    java -version
    mvn -version
    mvn -B clean test
  displayName: 'Run unit tests (system Maven)'

- task: PublishTestResults@2
  displayName: 'Publish JUnit test results'
  condition: succeededOrFailed()
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/target/surefire-reports/TEST-*.xml'
    failTaskOnFailedTests: true
