spring:
  application:
    name: review-service

azure:
  storage:
    connection-string: ${AZURE_STORAGE_CONNECTION_STRING:}
    queue:
      review-events: review-events
      app-logs: app-logs

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

server:
  port: ${SERVER_PORT:8082}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.kulebiakin: DEBUG
    com.azure: INFO
